p, h1, h2 {
    margin:0;
    padding:0;
}

.book {
    display: flex;
    flex-direction: row;
    /* outline: 1px solid red; */
}

.left {
    /* outline: 1px solid green; */
    width:50%;
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    padding:20px 40px;
}

.left h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(150,150,150);
    font-size:15px;
    margin-bottom:10px;;
}

.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 20px;
}

.left p {
    margin-bottom:10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.author, .comment, .edit {
    color: rgba(0, 0, 150, 0.6)
}

.remove {
    all:unset;
    color: rgba(0, 0, 150, 0.6);
    border-left: 1px solid rgba(150,150,150);
    border-right: 1px solid rgba(150,150,150);
    padding:2px 15px;
}

.remove, .comment, .edit {
    text-decoration: none;
}

.comment {
    padding-right:15px;
}

.edit {
    padding-left:15px; 
}


.middle{
    outline:1px solid yellow;
    width:30%
}

.right {
    outline:1px solid pink;
    width: 20%;
}