.form {
  border-top: 2px solid rgba(150, 150, 150, 0.8);
  width: 92%;
  margin: 4%;
  padding: 30px 0;
}

.form h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  color: rgb(150, 150, 150);
  font-size: 20px;
  margin-bottom: 20px;
}

.elements {
  /* outline:1px solid black; */
  display: flex;
  padding-bottom: 100px;
}

.title,
.author,
.category {
  width: 40%;
  margin-right: 2%;
}

.author,
.category,
.submitBtn {
  width: 20%;
}

input,
button {
  width: 100%;
  height: 30px;
}

button {
  all: unset;
  border: 1px solid blue;
  color: white;
  background-color: blue;
  width: 100%;
  height: 32px;
  border-radius: 2px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
